@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #2d1b17; /* Updated to lighter dark-brown tone */
    color: #ffffff;
  }
}